KINDE_CLIENT_ID=replace_me
KINDE_CLIENT_SECRET=replace_me
KINDE_ISSUER_URL=https://example.kinde.com
KINDE_SITE_URL=http://localhost:3000
KINDE_POST_LOGOUT_REDIRECT_URL=http://localhost:3000
KINDE_POST_LOGIN_REDIRECT_URL=http://localhost:3000/dashboard
BASEURL=http://localhost:3000
